<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilderness Stories</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">F
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
</head>

<body>

    {% include 'partials/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

</body>

</html>